<div class="container div-form">
    <h2 class="mt-5 mb-3 myfont-title text-center">Ajout de Cadeaux</h2>
    <form action="/cadeau" method="post">
      <div class="form-floating mb-3">
        <input type="text"  name="nom" class="form-control" id="nomCadeau" placeholder="Entrez le nom du cadeau" required>
        <label for="nomCadeau">Nom du Cadeau</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" name="prix" class="form-control" id="prixPoints" placeholder="Entrez le prix en points" required>
        <label for="prixPoints">Prix en Points</label>
      </div>

      <div class="form-floating mb-3" >
        <select class="form-select" name="taille" id="taille">
            <option value="">Selectionnez la taille</option>
            <option value="s">S</option>
            <option value="m">M</option>   
            <option value="l">L</option>        
            <option value="xl">XL</option>
            <option value="xxl">XXL</option>
        </select>        
      </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="nbcolor" placeholder="Entrez le nombre de couleurs" required>
        <label for="nbcolor">Nombre de couleurs</label>
      </div>

      <button type="submit" class="btn mybtn mb-3">Ajouter</button>
    </form>
</div>