<div class="container div-form">
    <h2 class="mt-5 mb-3 myfont-title text-center">Ajout de Clientes</h2>
    <form action="/add_cliente" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="pseudo" id="floatingInput" placeholder="Entrez votre pseudo" required>
        <label for="floatingInput">Pseudo</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="password"  id="floatingPassword" placeholder="Entrez votre mot de passe" required>
        <label  for="floatingPassword">Password</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="points"  id="floatingPoints" placeholder="Entrez les points" required>
        <label  for="floatingPoints">Points</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" name="dateNaissance"  id="dateNaissance" placeholder="Entrez la Date de Naissance" required>
        <label for="dateNaissance">Date de Naissance</label>
      </div>

      <button type="submit" class="btn mybtn mb-3">Ajouter</button>
    </form>
</div>