<% 
    let i;
    for(i = 0; i < data.length; i++){ %>
        <li class="nav-item active myfont" >
            <a class="nav-link" href=<%= data[i].link %>><%= data[i].name %></a>
        </li>
<% }; %>